[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=MirrorHouse
Exec=/opt/mirrorhouse/bin/mirrorhouse
Icon=mirrorhouse
StartupWMClass=
X-Window-Icon=mirrorhouse
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

